body {
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 10%;
	margin-right: 10%;
	background-image: url(./Obsidian/images/featured-bio-nb.jpg); 
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: grey;
	font-family: 'Open Sans', sans-serif;
}

/*HEADER*/

header {
	height: 260px;
}

.Titres {
	color: white;
	text-align: center;
}

.nav {
}

ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

li a {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
}

li a:hover {
	font-weight: bold;
}

h1, h2, {
	text-transform: uppercase;
	text-align: center;
	color: white;
	font-weight: lighter;
}

h1 {
	font-size: 70px;
}

h2 {
	color: white;
}

h5 {
	color: white;
}

/*PHOTO */

.milieu {
	margin-bottom: 50px;
}

.photo-album {
	background-image: url(./Obsidian/images/album-03-300x300.jpg);
	background-repeat: no-repeat;
	height: 300px;
	width: 300px;
}

.blocg {
	display: inline-block;
}

/*LIENS*/

.liens {
	width: 300px;
	margin-top: 20px;
}

.itunes {
	padding-top: 1px;
	padding-bottom: 1px;
	margin-bottom: 20px;
	background-color: black;
	background-color: rgba(0,0,0,0.3);
	text-align: center;
}

.amazon {
	padding-top: 1px;
	padding-bottom: 1px;
	margin-bottom: 20px;
	background-color: black;
	background-color: rgba(0,0,0,0.3);
	text-align: center;
}

.spotify {
	padding-top: 1px;
	padding-bottom: 1px;
	margin-bottom: 20px;
	background-color: black;
	background-color: rgba(0,0,0,0.3);
	text-align: center;
}

.Vivienne {
	color: white;
}

.release {
	color: white;
}

/*TABLEAU*/

.Album {
	width: 65%;
	float: right;
	margin-bottom: 10px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table tr {
	border-bottom: solid 1px gray;
	border-top: solid 1px gray;
}

table td {
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 10px;
}

.piste {

}

.chanson {
	color: white;
}

/*BANDEAU*/

.bandeau {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	margin-top: 20px;
}

.bloc1 {
	float left;
	width: 450px;
	margin-right: 20px;
}

.bloc2 {
	width: 450px;
}

.bloc3 {
	width: 450px;
	float right;
	margin-left: 20px;
}

/*FOOTER*/

hr {
	margin-bottom: 30px;
	color: gray;
}

.icones {
	color: white;
	margin: 0 auto;
	padding-top: 10px;
	width: 450px;
	display: flex;
	justify-content: space-between;
}

footer h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	color: white;
	margin-top: 30px;
	padding-top: 0px;
	font-weight: normal;
}