body {
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 10%;
	margin-right: 10%;
	background-color: black;
	color: grey;
	font-family: 'Open Sans', sans-serif; 
}

.container {
}


/*HEADER*/

.header {

}


.nav {

}

ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

li a {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
}

li a:hover {
	font-weight: bold;
}

h1, h2 {
	text-transform: uppercase;
	text-align: center;
	color: white;
	font-weight: lighter;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 16px;
}


/*PHOTO */

.photo-album {
	background-image: url(./Obsidian/images/album-03-300x300.jpg);
	background-repeat: no-repeat;
	border: solid green;
	height: 300px;
	width: 300px;
}

.blocg {
	display: inline-block;
	border: solid blue;
}

/*LIENS*/

.liens {
	width: 30%;
	flex-direction: column;
	align-items: baseline;
	border: solid red;

}

/*TABLEAU*/

.Album {
	border: solid green;
	width: 60%;
	
}

table {
	width: 100%;
	border-collapse: collapse;

}

table tr {
	border-bottom: solid 1px gray;
	border-top: solid 1px gray;

}

table td {
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 10px;

}

/*FOOTER*/

hr{
	margin-bottom: 30px;

}


.icones {
	color: white;
	margin: 0 auto;
	width: 450px;
	display: flex;
	justify-content: space-between;

}

footer h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	color: white;
	margin-top: 30px;

}